{{define "footer"}}
    <footer>
        <div>
            <div class="text-center">
                <hr>
                <small>Copyright &copy; StamperSoftware</small>
            </div>
        </div>
    </footer>
{{end}}