{{define "footer"}}
    <footer class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <small>Copyright &copy; StamperSoftware</small>
            </div>
        </div>
    </footer>
{{end}}