{{template "base"}}
{{define "css"}} 
    <link href="../static/css/about.css" rel="stylesheet">
{{end}}


{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <img id="cover-photo" src="/static/images/cover-photo.jpg" alt="cover-photo" class="text-center">
                <h3 class="mt-4">About Me</h3>
                <p>Military BRAT Freelance Software Engineer</p>
            </div>
        </div>
    </div>
{{end}}
