{{template "base"}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="mt-4">Project</h3>
            <p>List of Stamper Software Projects</p>
        </div>
    </div>
</div>
{{end}}